# GitIgnore para Usuarios
.vscode/
*.log
__pycache__/
*.pyc
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Videos grandes (los usuarios los colocan en local)
mis_videos/*.mp4
mis_videos/*.mkv
mis_videos/*.webm
# Base de datos local
*.db
*.sqlite
data/
chats_guardados.json
